@model ClientApp.Entity.Person

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Voulez-vous supprimer cette personne ?</h3>
<div>
    <h4>Suppression physique</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Effacer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour listing</a>
    </form>
</div>
